@use '/src/shared/scss/color';

.trash-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    min-width: 1200px;


    &__main-buttons {
        display: flex;
        justify-content: space-between;
    }
    &__main-buttons-container {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
    }

}
