@use '/src/shared/scss/color';

.trash-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    min-width: 1200px;


    &__main-buttons {
        display: flex;
        justify-content: space-between;
    }
    &__main-buttons-container {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
    }
    &__main-button {
        font-size: 24px;
        margin: 0 auto;
        display:flex;
        padding: 20px;
        gap: 5px;
        align-items: center;
        justify-content: center;
        
    }
    &__files-container {
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        
        
    }

}
