.permission-modal{

    
    &__permission-container{
        display: flex;
        justify-content: space-between;
    }
   

    &__info  {
        margin: auto 15px auto 10px;
        width: max-content;
    }

    &__info-name {
        font-size: 18px;
        font-weight: 500;
           
    }
    &__user-info{
        display: flex;
    }

    &__info-role  {
        margin:  auto 0;
        font-size: 16px;
        margin-right: 8px;
        font-style: italic;
        
    }
    &__permission-form{
        border-radius: 0 !important;
    }
    &__permission-form-input{
        border-radius: 0 !important;
        padding: 11px;
        padding-bottom: 10px;
    }
    &__permission-delete{
        margin-left: 4px;
        
    }
    
   
    
}

.ant-descriptions-item {
    padding: 1px !important;
    margin: 0;
    display: block;
    
}

.ant-descriptions-item-content {
    font-size: 16px;
    display: block;
}

.ant-descriptions-item-label, .ant-form-item-label > label {
    font-size: 15px !important;
    font-weight:500
}

.ant-col{
    padding: 0 !important;
}
.ant-select-selector{
    border-radius: 0 !important;
}

