$hover-button: #D1EDFF;
$primary: #074d7d;
$warning: #F79722;
$error: #D90D30;
$unblock: #EB5757;
$block: #D9D9D9;
$title: #333;
$secondary: #808080;
$placeholder: #A7A7A7;
$text: #4B4B4B;
$light-gray: #E6E6E6;
$disabled: #CDCDCD;
$hover: #EEE;
